# Название кластера, должно совпадать на всех серверах
cluster.name: "{{ cluster_name }}"

# Название узла (привязываем к имени сервера)
node.name: ${HOSTNAME}.{{ domain }}

# Отключаем запуск нескольких экземпляров на одном сервере
node.max_local_storage_nodes: 1

# Путь к директории с данными
path.data: {{ elastic_dir }}

# Путь к директории с журналами
path.logs: /var/log/elasticsearch

# Путь к плагинам
path.plugins: /usr/share/elasticsearch/plugins

# Обязательные плагины, Elasticsearch откажется запускаться, если их нет
plugin.mandatory: SmartCatPhraseSearch, analysis-hebrew, analysis-icu, analysis-stempel, elasticsearch-analysis-vietnamese

# Адрес, к которому привязывается сервер. Разрешаем доступ с локальной машины и из локальной сети.
network.host: ["_local_", "_site_"]

# Фиксируем один порт. По умолчанию используется диапазон.
http.port: 9200

# Аналогично
transport.tcp.port: 9300

# Список серверов, с которыми этот сервер будет пытаться объединиться в кластер
discovery.zen.ping.unicast.hosts: ["{{ node_01 }}", "{{ node_02 }}"]

# Не даём удалить индекс без указания точного имени
action.destructive_requires_name: true

# Запрещаем автоматическое создание индексов и маппингов
index.mapper.dynamic: false
action.auto_create_index: false

# Путь к директории резервного копирования
#path.repo: ["/mnt/elastic_backup_share"]

threadpool:
    index:
        queue_size: 10000
    search:
        queue_size: 10000
    bulk:
        queue_size: 200

