cluster.name: {{ cluster_name }}
node.name: {{ node_name }}
node.max_local_storage_nodes: 1
path.data: {{ elastic_dir }}
path.logs: /var/log/elasticsearch
#path.plugins: /usr/share/elasticsearch/plugins
network.host: ["_local_", "_site_"]
http.port: 9200
transport.tcp.port: 9300
thread_pool:
    index:
        queue_size: 10000
    search:
        queue_size: 10000
    bulk:
        queue_size: 200
