<?php
/** Имя DB MySQL */
define( 'DB_NAME', '{{ wordpress_db }}' );

/** Имя пользователя MySQL */
define( 'DB_USER', '{{ wordpress_user }}' );

/** Пароль к базе данных MySQL */
define( 'DB_PASSWORD', '{{ wordpress_password }}' );

/** Имя сервера MySQL */
define( 'DB_HOST', 'localhost' );

/** Кодировка базы данных для создания таблиц. */
define( 'DB_CHARSET', 'utf8mb4' );

/** Схема сопоставления. Не меняйте, если не уверены. */
define( 'DB_COLLATE', '' );

/**#@+
 * Уникальные ключи и соли для аутентификации.
 *
 * Смените значение каждой константы на уникальную фразу.
 * Можно сгенерировать их с помощью {@link https://api.wordpress.org/secret-key/1.1/salt/ сервиса ключей на WordPress.org}
 * Можно изменить их, чтобы сделать существующие файлы cookies недействительными. Пользователям потребуется авторизоваться снова.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         '5qo)J`h=G/+(:2W-l`A597Zjg`a}gU+)Eq5q&7eLWa1l{3KZ@Rl9jfLwhivDD_.b' );
define( 'SECURE_AUTH_KEY',  'I:6h.s,?&oPD3[N_s(6(qxD]wy.{WDjW#)^UI#IiIUuVY$_lF8B]!jl|*rpYo9-{' );
define( 'LOGGED_IN_KEY',    'M%=y%ok,<su=te7#}&H)_]a4Hfs,`&x^ OD)QL9A_xh.ovI<d_#eHU@sa WC]sn|' );
define( 'NONCE_KEY',        '2&icc(5%`qOMB 4sqxYZ|R2wsMcYgpq) NIlNcS;bd6)w3[zg{QQCc-kxR+ISuOH' );
define( 'AUTH_SALT',        ':H,-=hODxm`c*M$U`>uT2Q3eN0wrO McR?dqcn5!|KbT(MKJ3`O3]-hx>+kTP|Q|' );
define( 'SECURE_AUTH_SALT', '7pLLhV|u-F&<8$tvT(FJ(TgXj9C`_k1>&#hCeu[clDxFi}0>^D}@<`/3RfV-#H`@' );
define( 'LOGGED_IN_SALT',   'e@Jaq:4j%bE%KLOgxA2*3m&9_~:ESUG@*mL |4y~+s@?`J!oLJ>XM&T|@rbY0ep+' );
define( 'NONCE_SALT',       '=@G?5bA,!J>S}m ~29CZVZIR[HR3PhhUpwxrlj{ZY+K.;FtzRs<  FE~|5B)?}3_' );

/**#@-*/

/**
 * Префикс таблиц в базе данных WordPress.
 *
 * Можно установить несколько сайтов в одну базу данных, если использовать
 * разные префиксы. Пожалуйста, указывайте только цифры, буквы и знак подчеркивания.
 */
$table_prefix = 'wp_otus';

define( 'WP_DEBUG', false );

/* Это всё, дальше не редактируем. Успехов! */
/** Абсолютный путь к директории WordPress. */
if ( ! defined( 'ABSPATH' ) ) {
        define( 'ABSPATH', dirname( __FILE__ ) . '/' );
}

/** Инициализирует переменные WordPress и подключает файлы. */
require_once( ABSPATH . 'wp-settings.php' );