DEVICE="{{ bond_device }}"
BOOTPROTO="static"
IPADDR="{{ bond_address }}"
NETMASK="{{ bond_netmask }}"
TYPE="Bond"
USERCTL="no"
ONBOOT="yes"
BONDING_MASTER="yes"
BONDING_OPTS="mode=active-backup arp_interval=1000 arp_ip_target={{ bond_address_neighbor }} fail_over_mac=active"
BONDING_SLAVE0="{{ bond_config_device_1 }}"
BONDING_SLAVE1="{{ bond_config_device_2 }}"
